# Simple Script for Extracting Data from Gmail Take: https://takeout.google.com/settings/takeout

In [1]:
import mailbox as mailbox
import base64
import pandas as pd

In [15]:
mbox = mailbox.mbox('Return_Vouchers.mbox')
emails = []
for message in mbox:
    if (message['Reply-To'] != 'schultz.timothy52@gmail.com' and message['Reply-To'] != None and message['Reply-To'] != 'tim@afj.co'):
        emails.append(message['Reply-To'])

In [16]:
emails = pd.DataFrame(emails)
emails.head()

                         0
0    liz.gallant@yahoo.com
1  magyarmorgan6@gmail.com
2   krystinwolfe@yahoo.com
3     kylecresta@gmail.com
4   derekd070585@gmail.com

In [ ]:
emails.to_csv('emails.csv')